;; shadow-cljs configuration
{:deps true
 :builds {:app {:target           :browser
                :compiler-options {:output-feature-set :es-next}
                :output-dir       "resources/public/js"
                :modules          {:main {:init-fn games.ui/start}}
                :optimizations    :none
                :devtools         {:preloads  [devtools.preload]
                                   :http-root "resources/public"
                                   :http-port 3000}}}}
